global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

{% set agent_hosts = groups.get("monitoring_agents", []) %}
{% if agent_hosts | length > 0 %}
  - job_name: monitor-agent
    static_configs:
      - targets:
{% for host in agent_hosts %}
          - {{ hostvars[host].ansible_host }}:8000
{% endfor %}
{% endif %}

{% if agent_hosts | length > 0 %}
  - job_name: node-exporter
    static_configs:
      - targets:
{% for host in agent_hosts %}
          - {{ hostvars[host].ansible_host }}:9100
{% endfor %}
{% endif %}

  - job_name: alertmanager
    static_configs:
      - targets:
          - alertmanager:9093
